.main {
	background-color: #FFF;
	height: 87px;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
	position: fixed;
	list-style: none;
	font-weight: 500;
	color: #464646;
	font-size: 15px;
	font-family: "Roboto",arial,sans-serif;
}

li.nav-item {
	cursor: pointer;
	height: 87px;
	margin: 0;
	overflow: visible;
	position: relative;
	width: 14.287571%;
	display: flex;
	transition: 0.1s;
}

li.none {
	cursor: initial;
	float: left;
	height: 87px;
	margin: 0;
	overflow: visible;
	position: relative;
	width: 5%;
}

/* タイトル部共通 */
span.title {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%);
}

/* icon共通 */
.icon img {
	cursor: pointer;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.1s;
}
.icon img:nth-child(2) {
	opacity: 0%;
}






.btn {
	z-index: 1;
	position: fixed;
	right: 20px;
	top: 10px;
}

.btn-mae {
	margin-right: 5px;;
}

.btn button {
  padding: 13px 32px;
  background-color: rgba(48, 9, 189, 0.601);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.btn button:hover {
  transform: scale(1.05,1.05);
}