nav {
	background-color: #d69a3f;
	color: white;
	height: 65px;
	width: 100%;
	font-weight: 600;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	position: fixed;
}

.btn {
	z-index: 1;
	position: fixed;
	right: 20px;
	top: 10px;
}

.btn-mae {
	margin-right: 5px;;
}

.btn button {
  padding: 13px 32px;
  background-color: rgba(48, 9, 189, 0.601);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.btn button:hover {
  transform: scale(1.05,1.05);
}